# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.spec
*.egg-info/

# IDE / local settings
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Manual test files
manual_test/
